# managed by halite on {{ .Grains.host }}
worker_processes {{ .Grains.num_cpus }};
events { worker_connections 1024; }
http {
    include mime.types;
    server {
        listen 8080;
        root /var/www;
    }
}
