# managed by halite on {{ .Grains.host }} — contact {{ .Pillar.admin_email }}
worker_processes {{ .Pillar.nginx.workers | default .Grains.num_cpus }};
events { worker_connections 1024; }
http {
    include mime.types;
    server {
        listen {{ .Pillar.nginx.port }};
        root {{ .Pillar.nginx.root }};
    }
}
